/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(135deg, #29323c, #485563);
  color: #ffffff;
  min-height: 100vh;
}

.App {
  max-width: 960px;
  margin: 40px auto;
  padding: 35px;
  background: #222831;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Search Engine Styles */
.search-engine {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.search-engine input {
  width: 65%;
  height: 55px;
  padding: 0 25px;
  border: none;
  border-radius: 30px 0 0 30px;
  font-size: 18px;
  background-color: #393e46;
  color: #eeeeee;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-engine input:focus {
  outline: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-engine button {
  height: 55px;
  padding: 0 30px;
  border: none;
  background-color: #00adb5;
  color: #eeeeee;
  border-radius: 0 30px 30px 0;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-engine button:hover {
  background-color: #00909c;
}

/* Weather Information Styles */
.city-name {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 15px;
}

.date {
  font-size: 22px;
  color: #eeeeee;
  margin-bottom: 25px;
}

.temp-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.temp {
  font-size: 96px;
  font-weight: 700;
  margin-right: 25px;
}

.temp-icon {
  font-size: 120px; /* Larger icon size */
}

.description {
  font-size: 28px;
  margin-bottom: 40px;
}

/* Weather Info Columns */
.weather-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.column {
  flex: 1;
  padding: 20px;
  background-color: #393e46; /* Darker gray background for columns */
  color: #eeeeee;
  border-radius: 10px;
}

.column img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  filter: invert(100%); /* Invert icon color for dark background */
}

.column p {
  font-size: 18px;
}

/* Five-Day Forecast Styles */
.five-day-forecast-row {
  display: flex;
  justify-content: space-around;
  gap: 15px; /* Add spacing between forecast items */
}

.five-day-forecast-row > div {
  flex: 1;
  background-color: #2b313b;
  color: #eeeeee;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center content within each forecast item */
}
